<html>
<style>
  h1   {color:red}
  p    {color:green}
</style>
<body>
  <section class="container">
  <h1>Please choose one of the scrub options</h1>
    <div class="login">
    <h2>ADT Automation Tool</h2>
      <form method="POST" action="/date" >
        <p><input type="text" name="file_upload"required value"" placeholder="ADT files seperated by comma"></p>
        <p><input type="text" name="mail_id"required value"" placeholder="Enter your E-Mail ID"></p>
        <p><input type="text" name="to_number" value="" placeholder="Enter your Mobile Number (+1)"></p>
        <input type="radio" name="scrub_today" value="edit"> scrub-today
        <input type="radio" name="scrub_oneday" value="edit"> scrub-oneday
        <input type="radio" name="scrub_twoday" value="edit"> scrub-twodays
        <input type="radio" name="scrub_threeday" value="edit"> scrub-threedays
        <input type="checkbox" name="check1" value="edit"> Receive Message Alert
        <input type="checkbox" name="check2" value="edit"> Receive Call Alert
        <p class="submit"><input type="submit" name="commit" value="submit"></p>
      </form>
    </div>
    <IMG SRC="http://i.forbesimg.com/media/lists/companies/xl-marketing_416x416.jpg" WIDTH=200 HEIGHT=200>
    <div class="footer">
    <a href="https://wiki.zetainteractive.com:8443/display/BOUL/ADT+Automation+Tool" target="_blank"> ADT-TOOL Help? Click here!</a> 
    </div>
</body>
</html>