<html>
<body>
  <section class="container">
    <div class="login">
      <h1>ADT Automation Tool</h1>
      <form method="POST" action="/login">
        <p><input type="text" name="username"required value"" placeholder="Username"></p>
        <p><input type="password" name="password"required value"" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>
    <IMG SRC="http://i.forbesimg.com/media/lists/companies/xl-marketing_416x416.jpg" WIDTH=200 HEIGHT=200>
    <div class="footer">
    <a href="https://wiki.zetainteractive.com:8443/display/BOUL/ADT+Automation+Tool" target="_blank"> ADT-TOOL Help? Click here!</a> 
    </div>
</body>
</html>
